{config_load file="../alkimmedia_modules/alkim_tpl_responsive/lang/$language/lang_$language.conf" section="boxes"}

<div class="box payment">
  <div class="boxheader">{#heading_payment#}</div>
  <div class="boxbody">
    <ul>
      <!-- <li><img src="{$tpl_path}/img/payment/logo.visa.png" alt="VISA" /></li> -->
      <!-- <li><img src="{$tpl_path}/img/payment/logo.mastercard.png" alt="MasterCard" /></li> -->
      <!-- <li><img src="{$tpl_path}/img/payment/logo.banktransfer.png" alt="PayPal" /></li> -->
      <li><img src="{$tpl_path}/img/payment/logo.paypal.png" alt="PayPal" /></li>
      <li><img src="{$tpl_path}/img/payment/logo.vorkasse.png" alt="Vorkasse" /></li>
      <!-- <li><img src="{$tpl_path}/img/payment/logo.sofortueberweisung.png" alt="Sofortüberweisung" /></li> -->
    </ul>
    <!-- <small>{#info_payment#}</small> -->
  </div>
</div>