/* Mixxer Kategorieheader Farben */

#group_1 .heading {               /* Basismischung */
  background-color: #3d86a8;
}

#group_2 .heading {               /* Aromastoffe */
  background-color: #3d86a8;
}

#group_3 .heading {               /* Futterfarben */
  background-color: #3d86a8;
}

#group_5 .heading {               /* Futtererweiterungen */
  background-color: #3d86a8;
}

#group_6 .heading {               /* Getr. Insekten und Fische */
  background-color: #3d86a8;
}

#group_7 .heading {               /* Pellets */
  background-color: #3d86a8;
}

#group_8 .heading {               /* Extras */
  background-color: #3d86a8;
}