{config_load file="$language/lang_$language.conf" section="account_password"}

<h1>{#heading_password#}</h1>

{if '' != $error}<div class="errormessage">{$error}</div>{/if}

{$FORM_ACTION}
  <span class="required">{#text_must#}</span>
  
  <p>
    <label>{#text_actual#}</label>
    {$INPUT_ACTUAL}
  </p>
  
  <p>
    <label>{#text_new#}</label>
    {$INPUT_NEW}
  </p>

  <p>
    <label>{#text_confirm#}</label>
    {$INPUT_CONFIRM}
  </p>

  <p>
    {$BUTTON_BACK}
    {$BUTTON_SUBMIT}
  </p>

{$FORM_END}