{config_load file="$language/lang_$language.conf" section="new_password"}
<h1>{$text_heading}</h1>

{if '' != $info_message}<div class="errormessage">{$info_message}</div>{/if}

<p>{$message}</p>

<p>
  <strong>{#text_step1#}</strong><br />
  {#text_info_pre#} {$SHOP_NAME} {#text_info_post#}<br />
</p>
<br />

<div class="box highlight">
  <div class="boxbody">
    {$FORM_ACTION}
      
      <p>
        <label>&nbsp;</label>
        {$VVIMG}
      </p>

      <p>
        <label>{#text_sec_code#}:</label>
        {$INPUT_CODE}
      </p>

      <p>
        <label>{#text_email#}</label>
        {$INPUT_EMAIL}
      </p>

      <p>{#text_continue#}</p>

      <p>
        {$BUTTON_SEND}
      </p>
  
    {$FORM_END}
  </div>
</div>
